<div class="browse-component-wrapper">
  <ion-card>
    <ion-progress-bar *ngIf="displayProgressBar" type="indeterminate"></ion-progress-bar>

    <ion-grid *ngIf="mode === select_endpoint_mode">
      <ion-row *ngFor="let supportedProtocol of supportedProtocols">
        <ion-item>
          <ion-label class="protocol-label" (click)="click(supportedProtocol)">
            <ion-icon name="{{ ionicLogoMap[supportedProtocol] }}"></ion-icon> &nbsp; &nbsp; {{supportedProtocol}}
          </ion-label>
        </ion-item>
      </ion-row>
    </ion-grid>

    <div *ngIf="mode === creds_exist_mode">
      <ion-grid>
        <ion-row >
          <ion-label (click)="toggleMode()" class="back-label">
              <b>&lt; Back</b>
          </ion-label>
        </ion-row>
        <ion-row>
          <ion-item class="font-style" (click)="startAuthentication()">
              <ion-icon name="add"></ion-icon> &nbsp; &nbsp; Add new {{ selectedEndpoint }} account
          </ion-item>
        </ion-row>
        <ion-row *ngFor="let cred of selectedEndpointCreds">
          <ion-col size="10">
            <ion-item class="font-style" (click)="loadCred(cred.key)">
                <ion-icon name="laptop"></ion-icon> &nbsp; &nbsp; {{ cred.name }}
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-item (click)="deleteCred(cred.key)">
              <ion-icon name="trash"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="mode === 'ftp-auth'" class="center ">
      <ion-row>
          <ion-label (click)="toggleMode()" class="back-label">
              <b>&lt; Back</b>
          </ion-label>
        </ion-row>
      <ion-row>
        <ion-input type="text" [(ngModel)]="ftpUrl" class="form-control"  value="ftp://"></ion-input>
      </ion-row>
      <ion-row>
        <ion-input type="text" *ngIf="sftpFlag" [(ngModel)]="ftpUsername" class="form-control" placeholder="Username"></ion-input>
      </ion-row>
      <ion-row>
        <ion-input type="text" *ngIf="sftpFlag" [(ngModel)]="ftpPassword" class="form-control" placeholder="Password"></ion-input>
      </ion-row>
      <ion-row>
        <ion-label (click)="ftpNext()"  class="back-label">
            <b>Next &gt;</b>
        </ion-label>
      </ion-row>
    </div>

    <div *ngIf="mode === browse_endpoint_contents">
      <ion-grid>
        <ion-row>
          <ion-col class="endpoint-browse-options">
            <ion-button expand="full" fill="clear" color="dark">
              <ion-icon name="folder"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col class="endpoint-browse-options">
            <ion-button expand="full" fill="clear" color="dark">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-col>
          <!-- <ion-col class="endpoint-browse-options">
            <ion-button expand="full" fill="clear" color="dark">
              <ion-icon name="link"></ion-icon>
            </ion-button>
          </ion-col> -->
          <ion-col class="endpoint-browse-options">
            <ion-button expand="full" fill="clear" color="dark" (click)="loadContents()">
              <ion-icon name="refresh"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col class="endpoint-browse-options">
            <ion-button expand="full" (click)="exitEndpoint()">
              <ion-icon name="log-out"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-label (click)="contentWindowBack()" class="back-label">
            <b>&lt; Back</b>
          </ion-label>
        </ion-row>
        <div *ngIf="selectedCredContents.length === 0; else showContents">
          <ion-label class="empty-dir-label">
            --Empty Directory--
          </ion-label>
        </div>
        <ng-template #showContents>
          <ion-row *ngFor="let item of selectedCredContents">
            <div *ngIf="item.file; else folder" class="content-listing-div" >
              <ion-item class="font-style" (click)="fileSelected(item)">
                <ion-icon name="document"></ion-icon> &nbsp; &nbsp; {{ item.name }}
                <!-- 
                {{ item.time }} &nbsp; &nbsp; {{ item.size }}
                -->
              </ion-item>
            </div>
            <ng-template #folder>
              <ion-item (click)="folderSelected(item)" class="font-style">
                <ion-icon name="folder-open"></ion-icon> &nbsp; &nbsp; {{ item.name }}
              </ion-item>
            </ng-template>
          </ion-row>
        </ng-template>
      </ion-grid>
    </div>
  </ion-card>
</div>