.protocol-label{
    width: 100%;
    text-align: center;
}

// .browse-component-wrapper{
    
// }

ion-card{
    max-height: 350px;
    overflow: scroll;
    margin : unset;
    margin-left: 0.5px;
    margin-right: 1.1px;
    // padding-right: 10px;
    // padding-left: 10px;
    border-radius: unset;
    --background : white;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.font-style{
    font-size: 0.7rem;
}

.back-label{
    width: 100%;
    text-align: center;
    background: #e3e4e5;
    font-weight: bolder;
}

ion-grid{
    margin: unset;
    padding: unset;
    width: 100%;
}

ion-col{
    padding: unset;
}

ion-row{
    overflow: scroll;
}

ion-item{
    // --inner-border-width: 0px;
    width: 100%;
}

.content-listing-div{
    width: 100%;
}