.protocol-label{
    width: 100%;
    // text-align: center;
}

// .browse-component-wrapper{
    
// }

ion-card{
    max-height: 400px;
    overflow: scroll;
    margin : unset;
    margin-left: 0.5px;
    margin-right: 1.1px;
    // padding-right: 10px;
    // padding-left: 10px;
    border-radius: unset;
    --background : white;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.font-style{
    font-size: 0.85rem;
}

.back-label{
    width: 100%;
    text-align: center;
    background: #e3e4e5;
    font-weight: bolder;
    padding : 2%;
    height : 2rem;
}

ion-grid{
    margin: unset;
    padding: unset;
    width: 100%;
}

ion-col{
    padding: unset;
}

ion-row{
    overflow: scroll;
}

ion-item{
    // --inner-border-width: 0px;
    width: 100%;
}
.center {
    padding: 0 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;    
    // text-align: center;
}
ion-input{
    margin: 1%;
}
.content-listing-div{
    width: 100%;
}

.endpoint-browse-options{
    width: 20%;

    ion-button{
        margin: unset;
        border: black 1px solid;
        border-radius: 4px;
    }
}

