:host{
    ion-item{
        --inner-border-width: 0 0 0 0;
    }
}

.transfer-option{
    margin-top: 3%;
}

.container{
    margin-top: 3%;
}

.col{
    padding-left: 22%;
}

ion-icon{
    float: right;
}

.protocol-label{
    text-align: center;
}