:host{
    ion-item{
        --inner-border-width: 0 0 0 0;
    }
}

.transfer-option{
    margin-top: 3%;
}

.container{
    margin-top: 3%;
}

.col{
    padding-left: 22%;
}

ion-icon{
    float: right;
}

.browse-component-wrapper{
    max-height: 300px;
    overflow: scroll;
}

.border{
    border : solid lightblue !important;
}

.current-selection{
    width: 100%;
    background: #e3e4e5;
    // font-weight: bolder;
    font-size: 0.85rem;
    padding : 2%;
    margin: unset;
}

.clear-selection{
    text-align: center;
    margin-top: 2%
}