<ion-header>
  <ion-toolbar>
    <ion-title>OneDataShare</ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="transfer">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Transfer</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="queue">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Queue</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="isAdmin" tab="admin">
      <ion-icon name="send"></ion-icon>
      <ion-label>Admin</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
        <ion-icon name="person"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
