<ion-content padding>
<!-- Client Information Grid -->
  <ion-grid>
  <ion-row>
      <ion-col size="12" col-3 style="padding: unset; border-radius: 4px;">
          <ion-searchbar style="padding: unset;" color="dark" [(ngModel)]="searchQuery" autocorrect="off" placeholder="Search by JobId / Owner"></ion-searchbar>
      </ion-col>
   </ion-row>
  </ion-grid>

<ion-grid>
    <ion-row class="queueHeader">
        <ion-col align-self-center size="6"> 
          Users
        </ion-col>
        <ion-col align-self-center size="2" style="text-align:center" > 
          Admin 
        </ion-col>
        <ion-col align-self-center size="3" style="text-align:center" > 
          Validation
        </ion-col>
        <ion-col align-self-center size="1" style="text-align:center">
        </ion-col>
    </ion-row>

    <ion-row *ngFor="let x of filterClientList(clientList) | paginate: { id: 'clients', itemsPerPage: clientsPerPage, currentPage: p1 }; let i = index;"  [ngClass]="(i % 2 == 0) ? 'oddRowClass' : 'evenRowClass'" >

      <ion-col align-self-center size="6"> 
        {{x.email}}
      </ion-col>
      <ion-col align-self-center size="2" style="text-align:center" >
          <ion-icon *ngIf="x.isAdmin" name="checkmark-circle-outline" style="color:green; font-size: larger"></ion-icon>
          <ion-icon *ngIf="!x.isAdmin" name="close-circle-outline" style="color:red; font-size: larger"></ion-icon> 
      </ion-col>
      <ion-col align-self-center size="3" style="text-align:center" >
          <ion-icon *ngIf="x.validated" name="checkmark-circle-outline" style="color:green; font-size: larger"></ion-icon>
          <ion-icon *ngIf="!x.validated" name="close-circle-outline" style="color:red; font-size: larger"></ion-icon> 
      </ion-col>
      <ion-col align-self-center size="1" justify-content-center style="text-align:center" (click) = "infoUsers(x.email)">
          <ion-icon name="information-circle-outline" style="color:rgb(24, 147, 168); font-size: larger"></ion-icon>
      </ion-col>

    </ion-row>    
    <ion-row><ion-col col-3><pagination-controls id= 'clients' justify-content-center style="text-align:center" (pageChange)="p1 = $event" maxSize="3" previousLabel="" nextLabel="" autoHide="true" responsive="true"></pagination-controls></ion-col></ion-row>

    </ion-grid>

  <!-- Queue from all the users  -->

    <ion-grid>
      <ion-row class="queueHeader">
          <ion-col align-self-center size="5"> 
              Owner
            </ion-col>
        <ion-col align-self-center size="2"> 
          JobId
        </ion-col>
        <ion-col align-self-center size="4" style="text-align:center" >
          Progress
        </ion-col>
        <ion-col align-self-center size="1" style="text-align:center">
        </ion-col>
      </ion-row>
  
      <ion-row *ngFor="let x of filterList(qResp) | paginate: { id: 'jobQueue', itemsPerPage: rowsperPage, currentPage: p2 }; let i = index;"  [ngClass]="(i % 2 == 0) ? 'oddRowClass' : 'evenRowClass'" >
  
        <ion-col align-self-center size="5"> 
          {{x.owner}}
        </ion-col>
        <ion-col align-self-center size="2"> 
            {{x.job_id}}
          </ion-col>
        <ion-col align-self-center size="4">
          <ion-progress-bar  *ngIf="x.progressbar > 0 && x.progressbar < 1 && x.status !='removed' && x.status != 'failed'" color="primary" value={{x.progressbar}} style="height: 10px; border-radius: 5px"></ion-progress-bar>
          <ion-progress-bar  *ngIf="x.progressbar == 1 && x.status == 'complete'" color="success" value={{x.progressbar}} width="2" style="height: 10px; border-radius: 5px"></ion-progress-bar>
          <ion-progress-bar  *ngIf="x.progressbar == 0 || x.status =='removed' || x.status == 'failed'" color="danger" value="1" style="height: 10px; border-radius: 5px"></ion-progress-bar>
        </ion-col>
  
        <ion-col align-self-center size="1" justify-content-center style="text-align:center">
            <ion-icon name="information-circle-outline" (click)="infoJob(x.job_id)" style="color:rgb(24, 147, 168); font-size: larger"></ion-icon>
        </ion-col>
  
      </ion-row>    
    <ion-row><ion-col col-3><pagination-controls id = 'jobQueue' justify-content-center style="text-align:center" (pageChange)="p2 = $event" previousLabel="" nextLabel="" autoHide="true" responsive="true"></pagination-controls></ion-col></ion-row>
    </ion-grid>

  </ion-content>
  