<ion-content padding>
<!-- Client Information Grid -->
<ion-grid>
    <ion-row class="queueHeader">
        <ion-col align-self-center size="6"> 
            Users
          </ion-col>
      <ion-col align-self-center size="4"> 
          Validation
      </ion-col>
      
      <ion-col align-self-center size="2" style="text-align:center">
        Info
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let x of clientList; let i = index;"  [ngClass]="(i % 2 == 0) ? 'oddRowClass' : 'evenRowClass'" >

      <ion-col align-self-center size="7"> 
        {{x.email}}
      </ion-col>
      
      <ion-col align-self-center size="3">
          <ion-icon *ngIf="x.validated" name="checkmark-circle-outline"></ion-icon>
          <ion-icon *ngIf="!x.validated" name="close-circle-outline"></ion-icon>
      </ion-col>

      <ion-col align-self-center size="2" justify-content-center style="text-align:center">
          <ion-icon name="information-circle" ></ion-icon>
      </ion-col>

    </ion-row>    
  
    </ion-grid>

  <!-- Queue from all the users  -->

    <ion-grid>
      <ion-row class="queueHeader">
          <ion-col align-self-center size="4"> 
              Owner
            </ion-col>
        <ion-col align-self-center size="2"> 
          JobId
        </ion-col>
        <ion-col align-self-center size="4">
          Progress
        </ion-col>
        <ion-col align-self-center size="2" style="text-align:center">
          Action
        </ion-col>
      </ion-row>
  
      <ion-row *ngFor="let x of qResp | paginate: { itemsPerPage: rowsperPage, currentPage: p }; let i = index;"  [ngClass]="(i % 2 == 0) ? 'oddRowClass' : 'evenRowClass'" >
  
        <ion-col align-self-center size="4"> 
          {{x.owner}}
        </ion-col>
        <ion-col align-self-center size="2"> 
            {{x.job_id}}
          </ion-col>
        <ion-col align-self-center size="4">
            <ion-progress-bar  *ngIf="x.progressbar > 0 && x.progressbar < 1" color="primary" value={{x.progressbar}}></ion-progress-bar>
            <ion-progress-bar  *ngIf="x.progressbar == 1" color="success" value={{x.progressbar}}></ion-progress-bar>
            <ion-progress-bar  *ngIf="x.progressbar == 0" color="danger" value="1"></ion-progress-bar>
        </ion-col>
  
        <ion-col align-self-center size="2" justify-content-center style="text-align:center">
            <ion-icon name="information-circle" (click)="infoJob(x.job_id)"></ion-icon>
            <ion-icon *ngIf="x.status == processing" name="close-circle" (click)="cancelJob(x.job_id)"></ion-icon>
            <ion-icon  *ngIf="x.status != processing" name="refresh" (click)="restartJob(x.job_id)"></ion-icon>
            <ion-icon *ngIf="x.status != processing" name="trash" (click)="deleteJob(x.job_id)"></ion-icon>
          </ion-col>
  
      </ion-row>    
    <ion-row><ion-col col-3><pagination-controls (pageChange)="p = $event" maxSize="3"></pagination-controls></ion-col></ion-row>
    </ion-grid>

  </ion-content>
  