.queueHeader{
    color:rgb(248, 244, 244); 
    background-color: rgb(44, 30, 30); 
    //border-radius:5px
};
.oddRowClass{
    background: rgba(228, 230, 137, 0.5);
    border: rgb(14, 13, 13); 
    //border-radius:5px ;
};
.evenRowClass{
    background: rgba(149, 240, 228, 0.5);
    border: rgb(14, 13, 13); 
    //border-radius:5px ;
};
.alertBox{
    overflow-y:scroll;
    //max-height:240px;
};