:host {
    ion-toolbar{
        --background: black;
        --color: white;
        text-align: center;

        ion-title{
            font-size: 140%;
            font-weight: 1000;
            -webkit-padding-start: unset;
            -webkit-padding-end: unset;
            padding-inline-start: unset;
            padding-inline-end: unset;
            padding-left: unset;
            padding-right: unset;
        }
    }
}

ion-header{
    height: 8%;
}

ion-toolbar{
    height: 100%;
}
.ion-col-button-resetPassword{
    padding: 25%;
    padding-bottom: 0%;
}
.ion-col-button-logout{
    padding: 38%;
    padding-bottom: 0%;
    
}