<ion-header style="background-color:black; border: black; border-radius:5px">
  <ion-toolbar>
    <ion-title style="color:blanchedalmond">queue</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row style="background-color:aqua; border: black; border-radius:5px">
      <ion-col align-self-center> 
        JobId
      </ion-col>
      <ion-col align-self-center>
        Progress
      </ion-col>
      <ion-col align-self-center>
        Action
      </ion-col>
    </ion-row>

    
  
    </ion-grid>
</ion-content>
