
<ion-content padding>
  <ion-grid>
      <ion-row>
          <ion-col size="12" col-3 style="padding: unset; border-radius: 4px;">
              <ion-searchbar style="padding: unset;" color="dark" [(ngModel)]="searchQuery" (change)="searchJob()" autocorrect="off" placeholder="Search by JobId"></ion-searchbar>
          </ion-col>
       </ion-row>

    <ion-row class="queueHeader" style="margin-top: 5px; ">
      <ion-col align-self-center size="2"> 
        JobId
      </ion-col>
      <ion-col align-self-center size="6">
        Progress
      </ion-col>
      <ion-col align-self-center size="4" style="text-align:center">
        Action
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let x of filterList(qResp) | paginate: { itemsPerPage: rowsperPage, currentPage: p }; let i = index;"  [ngClass]="(i % 2 == 0) ? 'oddRowClass' : 'evenRowClass'">

      <ion-col align-self-center size="2"> 
        {{x.job_id}}
      </ion-col>

      <ion-col align-self-center size="6">
        <ion-progress-bar  *ngIf="x.progressbar > 0 && x.progressbar < 1" color="primary" value={{x.progressbar}}></ion-progress-bar>
        <ion-progress-bar  *ngIf="x.progressbar == 1" color="success" value={{x.progressbar}}></ion-progress-bar>
        <ion-progress-bar  *ngIf="x.progressbar == 0" color="danger" value="1"></ion-progress-bar>
      </ion-col>

      <ion-col align-self-center size="4" justify-content-center style="text-align:center">
        <ion-icon name="information-circle" (click)="infoJob(x.job_id)"></ion-icon>
        <ion-icon *ngIf="x.status == processing" name="close-circle" (click)="cancelJob(x.job_id)"></ion-icon>
        <ion-icon  *ngIf="x.status != processing" name="refresh" (click)="restartJob(x.job_id)"></ion-icon>
        <ion-icon *ngIf="x.status != processing" name="trash" (click)="deleteJob(x.job_id)"></ion-icon>
      </ion-col>

    </ion-row>
    <ion-row><ion-col col-3><pagination-controls (pageChange)="p = $event" maxSize="2" screenReaderCurrentLabel="You're on page" autoHide="true" ></pagination-controls></ion-col></ion-row>
    </ion-grid>
</ion-content>
