<ion-header>
  <ion-toolbar>
    <ion-title>OneDataShare</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content padding>

</ion-content> -->


<ion-slides pager="true">
  <ion-slide class="content">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="header"><b>OneDataShare<sup>&beta;</sup></b></ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>OneDataShare is a reliable and fast data movement service in the cloud.</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label><b>We aim to deliver:</b></ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ul>
            <li>
              Robust multi-protocol data transfer as a browser
            </li>
            <li>
              Remote file browsing in your web browser
            </li>
            <li>
              Advance transfer optimization algorithms
            </li>
          </ul>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-img src="../../assets/precise.png"></ion-img>   
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
  <ion-slide class="content">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="heading"><b>Fast, Scalable, and Flexible Data Sharing Made Easy</b></ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>OneDataShare harnesses the power of the cloud and implements state-of-the-art frameworks to optimize data transfer scheduling. It enhances the speed of data transfer via multiple protocols by enabling faster data transfer across the network. OneDataShare utilizes the available bandwidth to the fullest by using many optimization mechanisms, thereby speeding up data transfer and lowering cost.</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-img src="../../assets/fast.png"></ion-img>   
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
  <ion-slide class="content">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="heading"><b>Interoperation Across Heterogeneous Data Resources</b></ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>OneDataShare provides interoperation across heterogeneous data resources and on-the-fly translation betweemn different data transfer protocols. Sharing data between traditionally non-compatible data sources becomes very easy and convinient with OneDataShare</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-img src="../../assets/interoperation.png"></ion-img>   
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
  <ion-slide class="content">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class="heading"><b>Decreased Uncertainty in Real-time Decision-Making Processes.</b></ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>OneDataShare's data throughput and delivery time prediction service will eliminate possible long delays in completion of a transfer operation and increase utilization of end-system and network resources by giving an opportunity to provision these resources in advance with greate accuracy.</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-img src="../../assets/precise.png"></ion-img>   
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
      <ion-slide class="content">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label class="heading"><b>Reduced Time to the Delivery of Data</b></ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>OneDataShare reduces the time to the delivery of data and drastically increases the end-to-end performance of data-intensive applications relying on remote data sources. It provides an end-to-end data transfer architecture which is reliable, fast and effective. The users are capable of reducing the burden of data transfer time through the use of OneDataShare.</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-img src="../../assets/easy.png"></ion-img>   
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
      <ion-slide class="content">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label class="heading"><b>End-to-end Data Sharing Solution</b></ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>OneDataShare is capable of transferring high-volume data of data like real-time weather predictions and conditions and natural disasters to sharing genomic maps and consumer behavior statistics for business intelligence, climate change data or geographic data from any Management Information System (MIS) from anywhere in the world.</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-img src="../../assets/endtoend.png"></ion-img>   
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
      <ion-slide class="content">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label class="heading"><b>Welcome to OneDataShare!</b></ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>OneDataShare team welcomes you to experience the features of Managed File Transfer system.</ion-label>
            </ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col>
              <ion-button (click)="logInPage()">Log In</ion-button>
            </ion-col>
          </ion-row> -->
          <ion-row>
            <ion-col>
              <ion-img src="../../assets/easy.png"></ion-img>   
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="carousel-button">
            <ion-button (click)="logInPage()" expand="block"> Enter &nbsp; &gt;</ion-button>
        </div>

      </ion-slide>
</ion-slides>